input, .fake-input, textarea, select {
  display: inline-block;
  background: #FFF;
  border: 0;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  appearance: none;
}

input, .fake-input, textarea {
  width: 100%;
}

::placeholder {
  font-style: italic;
  color: #CCC;
}

input:hover, textarea:hover, select:hover,  {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 2px #CDC;
}

input:focus, textarea:focus, select:focus {
  outline: 0;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), inset 0 0 0 2px #BCB;
}

button {
  appearance: none;
  background: #9B2;
  border: 0;
  border-radius: 5px;
  padding: 0.5em 0.75em;
  color: #020;
  cursor: pointer;
}

button:disabled {
  background: #CCC;
  color: #EEE;
  cursor: initial;
}

button.icon {
  border: 0;
  background: transparent;
}

button.icon:focus, button.icon:hover {
  transform: scale(1.2);
  transform-origin: center;
  outline: 0;
}

li > button.icon {
  padding-top: 0;
  padding-bottom: 0;
}